include README.rst
include LICENSE

recursive-include shuup_stripe \
    *.jinja *.txt *.js *.css *.json *.less *.map \
    *.ico *.png *.svg *.jpg \
    *.woff *.woff2 *.eot *.otf *.ttf *.po *.mo

prune */*/bower_components
prune */*/node_modules
prune */*/*/bower_components
prune */*/*/node_modules
prune */*/*/*/bower_components
prune */*/*/*/node_modules
prune */*/*/*/*/bower_components
prune */*/*/*/*/node_modules
