include README.rst
include LICENSE

recursive-include shuup_stripe \
    *.jinja *.txt *.js *.css *.json *.less *.map \
    *.ico *.png *.svg *.jpg \
    *.woff *.woff2 *.eot *.otf *.ttf *.po *.mo

prune shuup_stripe/node_modules
prune shuup_stripe/*/node_modules
prune shuup_stripe/*/*/node_modules
prune shuup_stripe/*/*/*/node_modules
prune shuup_stripe/*/*/*/*/node_modules
prune shuup_stripe/bower_components
prune shuup_stripe/*/bower_components
prune shuup_stripe/*/*/bower_components
prune shuup_stripe/*/*/*/bower_components
prune shuup_stripe/*/*/*/*/bower_components
