{% extends "shuup/admin/base.jinja" %}
{% block content %}
<div class="container-fluid cancel-container">
    {% if connected %}
        <h1>{% trans %}Stripe Account Status{% endtrans%}</h1>
        <table class="table table-bordered table-responsive table-comparison">
            <tr>
                <td>{% trans %}Account connected{% endtrans %}</td>
                <td>{% if connected %}{% trans %}Yes{% endtrans %}{% else %}{% trans %}No{% endtrans %}{% endif %}</td>
            </tr>
            <tr>
                <td>{% trans %}Stripe Payment Method{% endtrans %}</td>
                <td>
                    {% if payment_method %}{% trans %}Yes{% endtrans %}{% else %}{% trans %}No{% endtrans %} (<a href="{{ url("shuup_admin:shop") }}?open_panel=payment_method_create">create)</a>{% endif %}
                </td>
            </tr>
            <tr>
                <td>{% trans %}Stripe Payment Method Active{% endtrans %}</td>
                <td>
                    {% if payment_method_active %}{% trans %}Yes{% endtrans %}{% else %}{% trans %}No{% endtrans %} (<a href="{{ url("shuup_admin:shop") }}?open_panel=payment_method_create">activate)</a>{% endif %}
                </td>
            </tr>
        </table>
        <div>
        {% if stripe_connect_url %}
            <a href="{{ stripe_connect_url }}" class="stripe-connect light-blue"><span>{% trans %}Re-Connect with Stripe{% endtrans %}</span></a>
        {% endif %}
        <a href="https://dashboard.stripe.com/" class="stripe-connect" target="_blank"><span>{% trans %}Stripe Dashboard{% endtrans %}</span></a>
        </div>
    {% else %}
        <h1>{% trans %}Connect with Stripe{% endtrans %}</h1>
        {% if not stripe_connect_url %}
            {% trans %}Cannot connect with Stripe. Please ask your service provider to re-configure your shop.{% endtrans %}
        {% else %}
            <p><a href="{{ stripe_connect_url }}" class="stripe-connect"><span>{% trans %}Connect with Stripe{% endtrans %}</span></a></p>
        {% endif %}
    {% endif %}
</div>
{% endblock %}

{% block extra_css %}
<link href="{{ static("shuup_admin/css/shuup_stripe_admin.css") }}" rel="stylesheet" type="text/css">
{% endblock %}
