{% extends "shuup/admin/base.jinja" %}
{% block content %}
<div class="container-fluid">
    <div class="content-block">
        <div class="row">
            <div class="col-md-12">
                <div class="form-header">
                    <p>{% trans %}Stripe has now been connected. Please fill the form below to continue.{% endtrans %}</p>
                </div>
                <form method="post">
                    {% csrf_token %}
                    {{ bs3.field(form.name) }}
                    {{ bs3.field(form.description) }}
                    {{ bs3.field(form.tax_class) }}
                    {{ bs3.field(form.price) }}
                    <hr>
                    <button type="submit" class="btn btn-primary pull-right">{% trans %}Finalize connection{% endtrans %}</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_css %}
<link href="{{ static("shuup_stripe/css/shuup_stripe_admin.css") }}" rel="stylesheet" type="text/css">
{% endblock %}
