{% set order = stripe_payment_section.order %}
<div class="row text-center">
    <div class="col-12 p-3">
        <p>
        {% trans email=(billing_address.email if billing_address and billing_address.email else order.email) -%}
            Payment link is sent to order billing address email: <strong>{{ email }}</strong>.
        {%- endtrans %}
        </p>
        <a class="btn btn-primary" href="{{ url('shuup_admin:shuup_stripe.payment_link', pk=order.pk) }}">
            {% trans %}Send Payment Link{% endtrans %}
        </a>
    </div>
</div>
